.background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.modal {
  width: 480px;
  height: 550px;
  background-color: #202020;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  height: 100%;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 40px;
}

.modal-close:before,
.modal-close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #808080;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.modal-form-field {
  height: 50px;
  border: 1px #808080 solid;
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
  line-height: 27px;
  position: relative;
}

.small-field {
  width: 45%;
}

.modal-form-name__firstname,
.modal-form-name__lastname,
.modal-form__phone,
.modal-form__email,
.modal-form__organization {
  color: #ffffff;
}

.modal-form-name {
  display: flex;
  justify-content: space-between;
}

.modal-form-name__label {
}

.modal-form-phone__label {
}
.modal-form-email__label {
}
.modal-form-organization__label {
}

.input-label {
  color: #ffffff;
  position: absolute;
  left: 10px;
  top: -15px;
  background-color: #202020;
  padding-left: 10px;
  padding-right: 10px;
}

.required-input:after {
  content: " *";
  color: red;
}

.modal-form-button {
  height: 60px;
  font-weight: bold;
}

.modal-form-agreement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-form-agreement__mark {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #909090;
  width: 25px;
  height: 25px;
  border-radius: 8px;
}

.modal-form-agreement__mark:checked {
  background: #ff8000 url("../../icon/check.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px #ff8000;
}

.modal-form-agreement__text {
  color: #808080;
  font-size: 14px;
  width: 88%;
}

.modal-form-agreement__text a,
.modal-form-agreement__text a:link,
.modal-form-agreement__text a:visited {
  text-decoration: underline;
  color: #ffffff;
}

.checked-agreement {
  color: #ff8000;
}
